html {
  &[data-theme='dark'] {
  }
}

html {
}

@primary-color: var(--primary-color);
@primary-hover-color: var(--primary-hover-color);
@primary-active-color: var(--primary-active-color);
@processing-color: var(--processing-color);
@link-color: var(--link-color);

@text-color: var(--text-color);
@border-color: var(--border-color);

@component-background: var(--component-background-color);
@layout-body-background: var(--layout-body-background);

@white-hover: var(--white-hover);
@white-active: var(--white-active);

@ims-bg: var(--ims-bg);
