@import '@unocss/reset/tailwind-compat.css';
@unocss all;

@font-face {
  font-family: 'OperatorMonoItalic';
  src: url('/public/fonts/OperatorMono-LightItalic.otf');
}

@font-face {
  font-family: 'OperatorMono';
  src: url('/public/fonts/OperatorMono-Bold.otf');
}

@font-face {
  font-family: 'FiraCode';
  src: url('/public/fonts/FiraCode-Medium.ttf');
}
